
<html>
    <head>
        This is Main page Head<br>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/static/js/common.js?ver=0.0.3"></script>
    </head>
    <body>
        This is Main Page Body<br>
        And This is Accepted Data : {{testDataHtml}} <br>

        <a href="/member/list">member</a>
        <br><a href="/login/form">login</a>

        <script type="text/javascript">
        $(document).ready(function(){
            alert(datetimeClient());
            alert(offsetClient());
    

        });
            
        </script>
    </body>

</html>
