<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <div style="width: 100px; float: left;">
            <img src="/static/images/default/defalut_1_2.png" width="100px" height="100px"><p><span id="btnDeleteImage">X</span> 파일이름</p>
        </div>
        <div style="width: 100px; float: left;">
            <img src="/static/images/default/defalut_1_2.png" width="100px" height="100px"><p><span id="btnDeleteImage">X</span> 파일이름</p>
        </div>
        <div style="width: 100px; float: left;">
            <img src="/static/images/default/defalut_1_2.png" width="100px" height="100px"><p><span id="btnDeleteImage">X</span> 파일이름</p>
        </div>
    </div>
    <br><br><br>
    <div style="clear: both;">
        <p><span id="btnDeleteImage">X</span> 파일이름</p>
        <p><span id="btnDeleteImage">X</span> 파일이름</p>
        <p><span id="btnDeleteImage">X</span> 파일이름</p>
        <p><span id="btnDeleteImage">X</span> 파일이름</p>
    </div>
</body>
</html>